/* there-is-two-types-of-font-family */
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* end-font-family */
body{
    margin:0;
    padding:0;
    background-color: #F5F6F8;
}

/* navbar-section-starts-here */
.header-section{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    margin: 0 auto;
}
.navbar-and-banner-section{
    padding: 0 150px 150px 150px;
}
.nav-section{
    display:flex;
    justify-content: space-between;
    max-width:1140px;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:100px;
    align-items: center;

}
.nav-log{
    font-size:34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}
.btn{
    font-size:16px;
    font-weight: 700;
    padding: 12px 38px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}  
.btn:hover{
    background-color: #FD6E0A;

}
/* navbar-section-ends-here */
/* banner-section-starts-here */

.banner-section{
    text-align: center;

}
.banner-heading{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}
/* banner-section-ends-here */
/* action-section-starts-here */
.action-section{
    max-width: 1140px;
    margin: 116px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.left-side{
    width: 40%;

}
.right-side{
    width: 33%
}
.right-side img{
    border-radius: 48px;
}
.action-title{
    font-size:42px;
    font-weight: 700;
    margin-bottom: 23px;
}
.action-subtitle{
    font-size: 24px;
    font-weight: 250;
    margin-bottom: 23px;
}
/* action-section-ends-here */
/* product-user-section-starts-here */
.product-user-section{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    margin:0 auto;
   
    text-align: center;
    padding:10px 0;
    border-radius: 24px;
   
}
.product-user-section-container{
    margin: 50px 80px;
}
.centered-title{
    font-size: 38px;
    font-weight: 700;
    
}

.product-user-section-subtitle{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
}
.data-title{
    font-size: 80px;
    font-weight: 700;
    color:rgba(78, 71, 255, 1);
    margin:0px;
}
.data-details{
    margin:0px;
    text-align: center;
    font-family: 20px;
    font-weight: 300;
}
/* product-user-section-ends-here */
/* user-feedback-section-starts-here */
.users-feedback-section{
    max-width: 1140px;
    margin:137px auto;
    
}
.feedback-title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom:50px;
}
.user-feedback-title{
    font-size:20px;
    font-weight: bold;
}
.user-feedback-sub-title{
    font-size: 18px;
    font-weight: 500;
}
.reviewer-details{
    font-size: 18px;
    font-weight: 350;
    margin:0;
}
.submit-date{
    font-size:18px;
    font-weight: 250;
    margin:0;
}
.user-description{
    display:flex;
    gap:15px;
}.user-info{
    width: 360px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ffffff;
    height: 220px;
    padding-left:20px;
    padding-top:20px;
    border-radius: 14px;
}.container{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: space-around;
}
/* user-feedback-section-end-here */
/* middle-banner-section-starts-from-here */
.middle-banner-section{
    background-color: #ffffff;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    height: auto;
    border-radius: 14px;
    
}
.webflow{
    padding: 13px 100px 73px 100px;
    
}
.webflow-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.webflow-sub-title{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.webflow img{
    margin-top: 20px;
    border-radius: 48px;

}
/* middle-banner-section-ends-here */
/* touch-section-starts-from-here */
 .touch-section{
    max-width: 1140px;
    margin: 137px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .touch-section-title{
    font-size: 97px;
    font-weight: 700;
 }
 .touch-right-side label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size:20px;
    font-weight: 500;
    


 }
 
 .touch-right-side input, .touch-right-side textarea{
    width:100%;
    padding:20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 400;
    border: none;
    margin-bottom: 19px;
 }
 .touch-left-side{
    width: 50%;
 }
 .touch-right-side{
    width:50%;
    padding:0;
    
 }
 /* share-style */
 .full-width{
    width:100%;
    padding: 19px 201px;
    
 }
 *{
    box-sizing: border-box;
 }
 label, input, textarea{
    font-family: 'inter'

 }
 /* share-style eds */
 
/* touch-section-ends-from-here */
/* footer-section-statrs-from-here */
.footer-section{
    background-color: #ffffff;
    max-width: 1440px;
    margin:0 auto;
    text-align: center;
}
.footer-section-container{
    margin: 100px 472px;
    padding: 104px 0 103px;
}
.footer-title{
    font-size: 100px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
    margin-bottom:8px;
    margin-top: 0;
  
}
.footer-description{
    font-size: 16px;
    font-weight: 250;
    color:rgba(137, 135, 161, 1);
    margin-bottom:23px;
    margin-top:0;
    
}
.footer-section a{
    text-decoration: none;
    display:block;
    text-align:start;
    color:rgba(137, 135, 161, 1);
    font-family: 'inter';
    font-size:16px;
}
.anchor{
    display:flex;
    justify-content:space-around;
    
}
/* footer-section-ends-here */
/* All-sections-are-ended */