/* there-is-two-types-of-font-family */
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* end-font-family */
body{
    margin:0;
    padding:0;
    background-color: #F5F6F8;
}

/* navbar-section-starts-here */
.navbar-banner{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    margin: 0 auto;
    height: 690px;
}
.nav-section{
    display:flex;
    justify-content: space-between;
    max-width:1140px;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:100px;
    align-items: center;

}
.nav-log{
    font-size:34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}
.btn{
    font-size:16px;
    font-weight: 700;
    padding: 12px 38px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}  
.btn:hover{
    background-color: #FD6E0A;

}
/* navbar-section-ends-here */
/* banner-section-starts-here */

.banner-section{
    text-align: center;
}
.banner-heading{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}
/* banner-section-ends-here */
/* action-section-starts-here */
.action-section{
    max-width: 1140px;
    margin: 116px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.action-title{
    font-size:42px;
    font-weight: 700;
    margin-bottom: 23px;
}
.action-subtitle{
    font-size: 24px;
    font-weight: 250;
    margin-bottom: 23px;
}
/* action-section-ends-here */
/* product-user-section-starts-here */
.product-user-section{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    margin:0 auto;
    height:306px;
    text-align: center;
    padding:50px 0;
    border-radius: 24px;
   
}
.centered-title{
    font-size: 38px;
    font-weight: 700;
    padding-bottom:40px;
}

.product-user-section-subtitle{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
}
.data-title{
    font-size: 80px;
    font-weight: 700;
    color:rgba(78, 71, 255, 1);
    margin:0px;
}
.data-details{
    margin:0px;
    text-align: center;
    font-family: 20px;
    font-weight: 300;
}
/* product-user-section-ends-here */
/* user-feedback-section-starts-here */
.users-feedback-section{
    max-width: 1140px;
    margin:137px auto;
    
}
.feedback-title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom:50px;
}
.user-feedback-title{
    font-size:20px;
    font-weight: bold;
}
.user-feedback-sub-title{
    font-size: 18px;
    font-weight: 500;
}
.reviewer-details{
    font-size: 18px;
    font-weight: 350;
    margin:0;
}
.submit-date{
    font-size:18px;
    font-weight: 250;
    margin:0;
}
.user-description{
    display:flex;
    gap:15px;
}.user-info{
    width: 330px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ffffff;
    height: 220px;
    padding-left:20px;
    padding-top:20px;
}.container{
    display: flex;
    gap:30px;
}